@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.menu-items li{
  @apply mx-5 text-neutral-500 hover:text-red-500 transition duration-300;
}
.menu-items-mobile li{
  @apply my-8 text-white text-xl md:text-2xl font-normal hover:font-bold transition-all duration-300 hover:scale-105
}
body{
  background-color: #000;
}
html{
  font-family: "Montserrat";
}
.menu-transition {
  transition: transform 0.3s ease-in-out;
}
.bgHero{
  background-image: url(./assets/hero.webp) ;
  background-size: cover;
}
.bg-Feactures{
  background-image: url(./assets/feactures.webp) ;
  background-size: cover;
}
@media only screen and (max-width: 768px){
  .bgHero{
    background-image: url(./assets/hero-mobile.webp) ;
    background-size: cover;
  }
}