@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.menu-items li{
  @apply mx-5 text-neutral-500 hover:text-red-500 transition duration-300;
}
.menu-items-mobile li{
  @apply my-8 text-white text-xl md:text-2xl font-normal hover:font-bold transition-all duration-300 hover:scale-105
}
body{
  background-color: #010101;
  font-family: 'Montserrat';
}
.menu-transition {
  transition: transform 0.3s ease-in-out;
}
.hero-bg{
  @apply bg-Hero w-full h-full bg-cover
}

@media only screen and (max-width: 768px){
  .hero-bg{
    @apply bg-HeroMobile
  }
}